@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a{
  text-decoration: none;
}


.user-wrapper > h3{
   margin: 20px 0;
}

/* Styling for the user list section */
.userlist {
  margin:30px 0;
  background-color: #F39C12; /* Light background for the entire section */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
}

.admin-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-info {
  width: 100%;
  border-collapse: collapse;
}

.admin-info thead tr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: gainsboro; /* Main header background color */
  color: #ffffff; /* Text color for header */
  border-radius: 4px;
}

.admin-info td {
  padding: 10px 20px;
  cursor: pointer;
}

.admin-info strong {
  font-weight: bold;
  font-size: 16px;
  color: black; /* Text color */
}

.admin-info span {
  font-weight: normal;
  font-size: 14px;
  color: black; /* Secondary text color */
}

.admin-info thead td {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-info .thead strong,
.admin-info td strong {
  display: inline-block;
  margin-right: 10px;
}

.admin-info td {
  background-color: #eef5ff; /* Light blue background for data cells */
  border-radius: 4px;
}
